.collapsible {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: center;
    outline: none;
    width: 100%;
}

.content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
}